includes:
	- vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
	level: 8
	paths:
		- src
#	scanDirectories:
#		- phar://SimplePacketHandler.phar
#	bootstrapFiles:
#		- phar://PocketMine-MP.phar/vendor/autoload.php